<mat-card>
    <mat-card-content>
        <div class="mat-dialog-content">
            <h1>{{new_name}}</h1>
            <h1>¿Cual es tu deporte favorito?</h1>
            <!-- <input type="text" placeholder="" [(ngMoldel)]="juego"> -->
        </div>
        <div class="mat-dialog-actions">
            <button mat-button (click)="enviar()">Abrir Dialog</button>
            <!-- <button mat-button [matDialogClose]="true"></button>  -->
        </div>
        <!-- <li *ngIf="juego">
            Tu juego favorito es: <i>{{juego}}</i>
          </li> -->
        
    </mat-card-content>
  </mat-card>